 //GLOBALS:
 * {
  box-sizing: border-box;
}

html {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  background-color: $bg-primary;
}

section {
  padding: 4rem auto;
}

//LG-NAVIGATION MOBILE FIRST:
nav {
  display: none;
}
//BURGER-NAVIGATION:
.cont-burg {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.menu {
  box-shadow: 0px 0px 3px grey;
  border-radius: 4px;
}


.drop-item {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: $bg-secondary;
  color: white;
  text-decoration: none;
}

.current {
  cursor: pointer;
}

.drop-item:hover {
  background-color: lightgray;
  color: white;
  text-decoration: none;
}

.dropdown {
  height: 0;
  overflow-y: hidden;
}

.exp .dropdown {
  height: initial;
}

// CHANGE TO LG-MENU:
@include media-breakpoint-up(lg) {
  .cont-burg {
    display: none;
  }

  nav {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #logo-link {
    background-color: $bg-primary;
  }

  .logo-img {
    height: 100%;
    width: auto;
  }

  nav{
    position: sticky;
    top: 0px; 
    z-index: 2;
  }
}

nav a {
  display: flex;
  width: 100%;
  justify-content: center;

  color: white;
  border: white solid 1px; 
  border-radius: 0.1rem;
  box-shadow: 0.1rem white;
  font-size: 1.2rem;
  text-decoration: none;
}

@include media-breakpoint-up(lg) {
  nav a {
    border: 0px; 
    align-items: center;
  }
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:visited {
  background-color: $bg-secondary;
  color: white;
  text-decoration: none;
}

nav a:hover, a:active {
  background-color: $bg-secondary;
  text-decoration: none;
}

@include media-breakpoint-up(lg) {
  nav {
    flex-direction: row;
    justify-content: space-around ;
  }

  .logo {
    display: flex;
  }

  nav a {
    display: flex;
    height: 7vh;
  }
}

h1 {
  margin: 0.5rem;
  font-weight: normal;
  font-size: 3rem;
}

h2 {
  margin: 2rem 0 2rem 0;
  font-size: 2rem;
  text-align: center;
} 

.typer {
  border-right: .15rem solid black;
}

// HERO + INSIDE:
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  margin-top: 3rem;
  padding: 4rem;
  background: #232323 url('img/banner3.jpg');
  color: white;
  text-align: center;
}

.banner .name {
  color: $txt-primary ;
  font-weight: bold;
}

.banner .whoiam {
  font-size: 2.5rem;
}

// INTRO:
.intro {
  padding: 2rem 3rem;
  color: #444;
  line-height: 150%;
  text-align: center;
}

.intro p {
  font-size: 1rem;
}


@media only screen and (min-width: 992px){
  .intro {
    padding: 3rem 7rem;
  }
}

// THE PROMOTION:
.promo {
  margin-top: 2rem;
  background-color: $bg-secondary;
  width: 100%;
}

.promo-column {
  height: 70%;
  margin: 3rem 1rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #aaa;
}

.promo .circle {
  width: 6rem;
  height: 6rem;
  margin: -3rem auto 1rem auto;
  background-color: $bg-secondary;
  border-radius: 3rem;
}

.promo h3 {
  margin: .5rem auto .5rem auto;
  color: $txt-secondary;
  font-size: 1.6rem;
  font-weight: 900;
}

// MY SKILLS:
#skills {
width: 90%;
margin: 0  auto 0 auto;
padding: 1rem;
}

#skills h2 {
  color: $bg-secondary;
}
  
.progress {
  display: flex;
  height: 2.4rem;
  margin-bottom: 0.5rem;
}

.progress .label {
  flex: 0 0 8rem;
  height: 2.4rem;
  background-color: $txt-secondary;
  color: $bg-primary;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
}

.progress .bar {
  flex: 1;
  height: 2.4rem;
  background-color: #d6d6d6;
  line-height: 2.4rem;
}

.progress .knob {
  height: 2.4rem;
  background-color: $bg-secondary;
}

// PORTFOLIO:
#cont-port {
  margin: 2rem  auto 2rem auto;
  padding: 2rem 4rem;
  background-color: $bg-secondary;
  color: $bg-primary;
}

.card {
  margin-bottom: 1rem;
  padding: .5rem;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 0.75rem;
}

.card:hover {
  width: 100%;
  background-color: black;
}

.card-img-top {
  width: 100%;
  height: auto;
  opacity: .9;
} 

.card-body {
  padding: 1rem;
  background-color: $bg-primary;
}

.card-text {
  font-size: .7rem ;
}

.card-link {
  font-size: 1rem;
  font-weight: 900;
  color: $bg-secondary;
}

//ABOUT ME:
#about {
  padding: 2rem;
  background-color: white;
  color: black;
}

#about .col1, #about .col2 {
  padding: 2rem;
  text-align: center;
  background-color: white;

}

#about img {
  max-width: 9rem;
  height: auto;
  border-radius: 10%;

}

@media only screen and (min-width: 992px){
  #about .cols {
    display: flex;
  }
  #about .col1, #about .col2 {
    flex-basis: 1;
    padding: 2rem;
  } 
}

#about .get-in-touch {
  font-size: 1.2rem;
}

// CONTACT ME:
#contact {
  padding: 2rem auto 2rem;
  background-color: $bg-secondary;
  color: white;
}

.btn-contact {
  background-color: #0069D9;
  color: white;
  border-radius: .3rem;
  box-shadow: .1rem .2rem black;
  text-decoration: none;
}

// FIND ME:
.find-me-here {
  padding: 1rem;
  background-color: #232323;
  color: white; 
}

.find-me-here .grams {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem; 
}

.find-me-here i {
  color: white;
  font-size: 3rem;

}

// CONTACT ME:
#contact {
  padding: 2rem 3rem 6rem 3rem;
  background-color: $bg-secondary;
  color: white;
}

form {
  padding: 5vw;
}

@media only screen and (min-width:992px){
 form{
  padding: 5vh 15vw;
 }
}
.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
  border-radius: 0rem;
}

#userMsg {
  border: 1px solid white;
  background-color: white;
  border-radius: 0.2rem;
}
.cmr_message {
  width: 40rem;
  align-self: center;
}

// FOOTER:
footer {
  padding: 2rem 6rem 6rem 6rem;
  background-color: $bg-primary;
  text-align: center;
}

footer h2 {
  font-size: 2.2rem;
  font-weight: 900;
}

footer .line-head {
  display: flex;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

footer .grams {
  display: flex;
  justify-content:space-around ;
  color: #c0c0c0;
  font-size: 3rem;
}

// NICE TO MEET YOU:
.line {
  flex: 1;
  height: 6px;
  margin: 0 1rem;
  background-color: $bg-secondary;
}