// Your own styles
// $text-color: #F4A423;
// $bg-primary: #efefef;
// $bg-secondary: #fff;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/*  
  # COLOR PALETTE
  Green:      #54be90
  Light Grey: #ebebeb
  Dark Grey:  #232323
  Grey Text:  #444444
*/

 // GLOBALS:
 * {
  box-sizing: border-box;
}

html {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
}

body {
  // margin: 0;
  background-color: #ebebeb;
  // width: 90vw;
  // padding: 0 auto 0 auto ;
}

// CONTAINERS:
// section {
//   border: 2px #54be90 solid;
// }

// div {
//   border: 2px red solid;
// }

// MOBILE FIRST APPROACH:
// .container {
  // width: $sm;
  // margin: 0 auto;
// }

//  ALL CHILDREN RESPONSIVE:
// .container > * {
//   flex: 1 100%;
// }

nav {
  // padding-left: 2rem;
  background-color: #435058;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // color: white;
  // font-family: 'Anaheim', sans-serif;
  // font-size: 1em;    
}

//   nav .burger-div {
//   display: inline-block;
//   padding: 0 0 0.25em;
//   font-size: 1.8em;
// }

// .navbar {
//   display: none; 
// }


nav a {
  display: flex;
  width: 100%;
  // height:2rem; 
  justify-content: center;

  color: white;
  border: white solid 1px; 
  border-radius: 0.1rem;
  box-shadow: 0.1rem white;
  font-weight: bold;
  text-decoration: none;
 
}
a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  color: green;
  text-decoration: none;
}

@include media-breakpoint-up(lg) {
  nav {
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
  }

  .logo {
    display: flex;
    // flex-grow: 2;
  }

  nav a {
    display: flex;
    // flex-grow: 1;
  }
}

// <img src="img_girl.jpg" style="max-width:100%;height:auto;">


h1 {
  margin-bottom: 0.5rem;
  
  font-weight: normal;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}


// HERO + INSIDE:
.banner {
  // height: 535px;
  margin-top: 75px;
  padding: 4rem;

  background: #232323 url('img/banner.jpg');
  color: white;

  text-align: center;
}

.banner .name {
  color: #54be90;
  border-bottom: 6px solid white;

  font-weight: bold;
}

.banner .whoiam {
  font-size: 2.5rem;
}

// INTRO:
.intro {
  padding: 3rem 4rem;

  color: #444;

  font-size: 1.2rem;
  line-height: 150%;
  text-align: center;
}

// THE PROMOTION:
.promo {
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: space-between;
  margin-top: 2rem;

  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: space-between;
  // margin-top: 2rem;  
  // padding: 0 6rem;
  // background-color: #232323;
  // color: white;
}

.promo-column {
  // display: flex;
  // flex-flow: column nowrap;
  // align-content: center;
  // align-content: flex-start;

  width: 90%;
  height: 70%;
  margin: 3rem 1rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #aaa;
  
  // flex: 1;
  // padding: 0rem 1.5rem 2rem 1.5rem;
  // text-align: center;
}

.promo .circle {
  width: 6rem;
  height: 6rem;
  margin: -3rem auto 1rem auto;

  background-color: #ebebeb;
  border-radius: 3rem;
}

.promo h3 {
  margin: .5rem auto .5rem auto;

  color: #54be90;

  font-size: 1.6rem;
  font-weight: 900;
}

// @include media-breakpoint-up(lg) {
//     // .promo-column {
//     //   width: 250px;
//     //   height: 250px;
//     // }
//     .promo circle {
//     }

//     .promo h3 {

//     }
//   }


// MY#skills:
#skills {
// padding: 2rem 10rem 6rem 10rem;
padding: 1rem;
}

#skills h2 {
  color: #54be90;
}
  
.progress {
  display: flex;

  height: 2.4rem;
  margin-bottom: 0.5rem;
}

.progress .label {
  flex: 0 0 8rem;

  height: 2.4rem;

  background-color: #444;
  color: white;

  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
}

.progress .bar {
  flex: 1;

  height: 2.4rem;

  background-color: #d6d6d6;

  line-height: 2.4rem;
}

.progress .knob {
  height: 2.4rem;

  background-color: #54be90;
}

// PORTFOLIO:
#cont-port {
  //width: 90%;
  margin: auto 2rem auto 2rem;
  padding: 2rem 4rem;
  background-color: #54be90;
  color: white;
}

// .cards {
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: space-between;
// }

.card {
  margin-bottom: 1rem;
  padding: .5rem;

  background-color: white;
  color: black;

  cursor: pointer;
  font-size: 0.75rem;
}

.card:hover {
  width: 100%;
  background-color: black;
}

.card-img-top {
  width: 100%;
  height: auto;
} 

.card-body {
  padding: 1rem;
  background-color: #ebebeb;
}

.card-text {
  font-size: .5rem ;
}

// @include media-breakpoint-up(lg) {
//   .card {
//     width: 400px;
//   }
// }


//#about ME:
#about {
  // background-color: red;
  padding: 1rem;
  color: black;
}

#about .columns {
  // background-color: purple;
  // display: flex;
  // flex-basis: 1;
  // flex-flow: column nowrap;
  // justify-content: center;
  // align-content: center;
  // align-items: center;
  margin-top: 2rem;
} 

#about .column {
  // width: 440px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0 .13rem #aaa;
}

#about .img {
  border: black 2px dotted;
  width: 15rem;
  height: auto;
}

#about .get-in-touch {
  font-size: 1.2rem;
}

// CONTACT ME:

// .contact{
//   display: flex;

// }

.btn-contact {
  padding: 0.3rem 0.3rem;
//padding: 2rem 16rem 2rem 2rem;
  background-color: #54be90;
  color: white;
  border-radius: 0.3rem;
  box-shadow: 0 .3rem .5rem black;
  text-decoration: none;
}

// FIND ME:
.find-me-here {
// padding: 2rem 16rem 6rem 16rem;
  padding: 1rem;
  background-color: #232323;
  color: white; 
}

// .find-me-here h2 {
//   font-size: 1.3rem;
// }

.find-me-here .grams {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem; 
}

.find-me-here i {
  color: white;
  font-size: 3rem;

}

// MESSAGE FORM:
.contact {
  padding: 2rem 3rem 6rem 3rem;
  background-color: #54be90;
  color: white;
}

// .form {
//   border: green 1px solid; 
//   // margin-right: 2rem;
//   display: flex;
//   /* width: 70vw; */
//   flex-wrap: wrap;  
//   justify-content:flex-start;
//   align-content: flex-start;
//   align-items:stretch;
// }


// .form_row1, .form_row2 {
//   background-color: purple; 
//   display: flex;
//   /* flex: 1 1 1; */
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-content: space-around;
//   /* align-items: center;   */
// }


// .form_row3 .label-msg {
//   text-align: center;
// }

// .form_row3{
//   background-color: purple; 
//   display: flex;
//   width: 80vw;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   justify-content: center;
//   align-content: space-between;
//   /* align-items: center;   */
// }

.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
  border-radius: 0rem;
}

#userMsg {
  border: 1px solid white;
  background-color: white;
  border-radius: 0.2rem;
}
.cmr_message {
  
  width: 40rem;
  align-self: center;
}

// FOOTER:
footer {
  padding: 2rem 6rem 6rem 6rem;

  background-color: transparent;

  text-align: center;
}

footer h2 {
  font-size: 2.6rem;
  font-weight: 900;
}

footer .line-head {
  display: flex;
  align-items: center;
}

footer .grams {
  display: flex;
  justify-content: space-between;
  // margin: 1rem 22rem 3rem 22rem;
  color: #c0c0c0;
  font-size: 3rem;
}

// NICE TO MEET YOU:
.line {
  flex: 1;
  height: 6px;
  margin: 0 1rem;
  background-color: #54be90;
}

// @media screen and (max-width: 695px) {
//   nav:hover {
//     display: flex;
//   }

//   nav {
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items:stretch;
//     }
//   }

// @media screen and (max-width: 415px) {

//   nav {
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items:stretch;
//   }
// }
